@using DAM.Domain.Entities;

@{
    ViewData["Title"] = "Ajout d'un barème";
    ViewBag.Title = "Ajout d'un barème";
    ViewBag.pTitle = "Nouveau barème";
    ViewBag.pageTitle = "Alliances";

}

@section styles{
    <link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/select2/css/select2-bootstrap-5-theme.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/assets/libs/toastr/build/toastr.min.css">
    <style>
        table.matrix > thead > tr > th
        {
            background:lightgrey;
        }

        table.matrix > tbody > tr > td:first-child{
            background-color:lightgray;
            font-weight: 600;
        }

        table, th, td {
            border: 1px solid black !important                  ;
            border-collapse: collapse;
        }

        .toast {
            opacity: 1 !important;
        }
    </style>
    
}

<div class="row">

    <div class="col-xl-6">
        <div class="card">

            <div class="card-body">

                <h4 class="card-title">Information du barème</h4>
                <input id="allianceid"
                       name="allianceid"
                       type="hidden"
                       value="@ViewContext.RouteData.Values["allianceid"].ToString()" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3 needs-validation">
                            <label class="form-label" for="Name">Nom du barème</label>
                            <input  type="text" class="form-control" id="Name" placeholder="Name" required>
                            <div class="invalid-feedback">
                                Le champs Nom est obligatoire
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3 needs-validation">
                            <label class="form-label" for="type">Type de barème</label>
                            <select id="type" required class="form-select">
                                <option value="">Choisir</option>
                                <option value="1">Attaque</option>
                                <option value="2">Défense</option>
                            </select>
                            <div class="invalid-feedback">
                                Le type est obligatoire
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>

        </div>
    </div>
    <div class="col-xl-6">
        <div class="card">

            <div class="card-body">

                <h4 class="card-title">Alliance ennemies</h4>
               
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                           
                            <select id="Enemies" class="form-select" data-placeholder="Associer alliance adverse" multiple>
                                @{
                                    var enemies = ViewBag.AllEnemies as IReadOnlyCollection<AllianceEnemy>;
                                    foreach(var e in enemies)
                                    {
                                        <option value="@e.Id">@e.Name</option>
                                    }
                                    

                                }
                            </select>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Configuration du barème</h4>
                

                <div class="table-responsive">
                    <table class="table table-editable table-nowrap align-middle table-edits matrix">
                        <thead>
                            <tr style="cursor: pointer;">
                                <th></th>
                                <th>0 ennemi </th>
                                <th>1 ennemis </th>
                                <th>2 ennemis </th>
                                <th>3 ennemis </th>
                                <th>4 ennemis </th>
                                <th>5 ennemis </th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                
                                for (var a = 1; a <= 5; a++)
                                {
                                    <tr data-id="@a">
                                        <td>@a Allié(s)</td>
                                    
                                    @for (var e = 0; e <= 5; e++)
                                    {
                                            var id = $"pepites{e}";
                                            <td ally="@a" enemy="@e" data-field="@id" class="needs-validation">
                                                <input data-parsley-type="number" min="0" ally="@a" enemy="@e" class="form-control" type="number" value="0">
                                                <div class="invalid-feedback">
                                                    Ce n'est pas une valeur valide
                                                </div>
                                            </td>
                                    }
                                    </tr>
                                }
                            }
                           
                        </tbody>
                    </table>
                </div>
               
            </div>
          
        </div>
    </div> <!-- end col -->
   
</div>
  <div class="row mb-4">
                <div class="col ms-auto">
                    <div class="d-flex flex-reverse flex-wrap gap-2">
                        <button id="saveBtn" class="btn btn-success"> <i class="uil uil-file-alt"></i>Créer</button>
                    </div>
                </div> <!-- end col -->
            </div>
@section scripts{
    <script src="~/assets/libs/select2/js/select2.full.min.js"></script>
    <!-- parsleyjs -->
    <script src="~/assets/libs/toastr/build/toastr.min.js"></script>
    <script src="~/assets/libs/parsleyjs/parsley.min.js"></script>
    <script src="~/assets/libs/table-edits/build/table-edits.min.js"></script>
    <script src="~/assets/js/views/alliance/addbareme.js"></script>

}

